In [3]:
import pandas as pd
import numpy as np
import os
from pandas import DataFrame

#load files
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/clean_students_complete.csv"
#alternate Method using os.path.join
#school_data_to_load = os.path.join("Resources", "schools_complete.csv")
#student_data_to_load = os.path.join("Resources", "clean_students_complete.csv")

school_data_df = pd.read_csv(school_data_to_load)
student_data_df = pd.read_csv(student_data_to_load)

In [4]:
# Combine the data into a single dataset.
school_data_complete_df = pd.merge(student_data_df, school_data_df, on=["school_name", "school_name"])
school_data_complete_df.head(2)

,Unnamed: 0,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635

In [5]:
school_data_df.head(2)

   School ID           school_name      type  size   budget
0          0     Huang High School  District  2917  1910635
1          1  Figueroa High School  District  2949  1884411

In [6]:
student_data_df.head(2)

,Unnamed: 0,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,1,Victor Smith,M,12th,Huang High School,94,61

In [7]:
#Total number of students. Exact same as total number of rows
school_data_complete_df["Student ID"].count()

39170

In [8]:
#dataset total coluns,total rows
school_data_complete_df.shape

(39170, 12)

In [9]:
#total number of student ids but not show ids are unique
school_data_complete_df["Student ID"].count()

39170

In [10]:
#Checks if key is unique with in column...if so can be used to merge on. Also confirms actual student number
len(school_data_complete_df["Student ID"].unique())

39170

In [11]:
#checks for unique school names and confirms no mispellings
school_data_complete_df["school_name"].unique()

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [26]:
#number of unique schools
len(school_data_complete_df["school_name"].unique())

15

In [12]:
# #checks for unique school names and confirms no mispellings
set(school_data_complete_df["school_name"])

{'Bailey High School',
 'Cabrera High School',
 'Figueroa High School',
 'Ford High School',
 'Griffin High School',
 'Hernandez High School',
 'Holden High School',
 'Huang High School',
 'Johnson High School',
 'Pena High School',
 'Rodriguez High School',
 'Shelton High School',
 'Thomas High School',
 'Wilson High School',
 'Wright High School'}

### Find the number of unique entries in a dataframe column

In [13]:
# num of unique school names...great for when unique or count doesnt work
len(set(school_data_complete_df["school_name"]))

15

In [14]:
# GW way...Calculate the total number of schools.
school_count = school_data_df["school_name"].count()
school_count

15

In [15]:
len(school_data_complete_df["school_name"].unique())

15

In [16]:
# Calculate the total number of schools
school_count_2 = school_data_complete_df["school_name"].unique()
school_count_2

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [17]:
#Converts unique school names into list
school_list = school_data_complete_df["school_name"].unique().tolist()

In [18]:
school_list

['Huang High School',
 'Figueroa High School',
 'Shelton High School',
 'Hernandez High School',
 'Griffin High School',
 'Wilson High School',
 'Cabrera High School',
 'Bailey High School',
 'Holden High School',
 'Pena High School',
 'Wright High School',
 'Rodriguez High School',
 'Johnson High School',
 'Ford High School',
 'Thomas High School']

In [19]:
#incorrect because it didnt only grab unique schools it totalled for every entry
#always remember after the merge data with not be displayed properly for some items
#it can be better to use the original table for some things or you need to eliminate duplicates
total_budget_wrong = school_data_complete_df["budget"].sum()
total_budget_wrong

82932329558

In [20]:
#Correct way! instead use school_data_df to avoid summing repeated data
total_budget = school_data_df["budget"].sum()
total_budget

24649428

In [21]:
#Not working
#budget = 0
#school_name = []

#for name in school_list:
 #   school_name = school_data_complete_df["school_name"]
  #  if school_name != school_name:
   #     budget = budget + school_data_complete_df["budget"]
    

#print(budget)

In [22]:
#created variable containing average reanding and math scores...prints them to screen
avg_reading_score = student_data_df["reading_score"].mean()
avg_math_score = student_data_df["math_score"].mean()

print(f"avg reading for all schools {avg_reading_score}\navg math for all schools {avg_math_score}")

avg reading for all schools 81.87784018381414
avg math for all schools 78.98537145774827

In [23]:
#Binning for grades... remember you should always have one less label than bin
#remember must use pd.cut(df["column"], bins, labels=labelname)

grades = ("F","D","C","B","A") #labels
bins = (0,59,69,79,89,100)

school_data_complete_df["reading_grade"] = pd.cut(student_data_df["reading_score"], bins, labels=grades)
school_data_complete_df["math_grade"] = pd.cut(student_data_df["math_score"], bins, labels=grades)
school_data_complete_df.head()

,Unnamed: 0,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,reading_grade,math_grade
0,0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,D,C
1,1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,A,D
2,2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,A,D
3,3,3,Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635,D,F
4,4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,A,B

In [24]:
school_data_complete_df.head()

,Unnamed: 0,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,reading_grade,math_grade
0,0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,D,C
1,1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,A,D
2,2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,A,D
3,3,3,Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635,D,F
4,4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,A,B

In [25]:
#Not Working figure out how you would iterate through ids and get the right data
passed_math_reading = []

for id in school_data_complete_df["Student ID"]:
    if student_data_df["reading_score"] > 70 and student_data_df["math_score"] > 70:
        passed_math_reading.append(school_data_complete_df["Student ID"])

print(passed_math_reading)

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

### Filter grades higher than 70; provides boolean response

In [49]:
passing_math = school_data_complete_df["math_score"] >= 70
passing_reading = school_data_complete_df["reading_score"] >= 70
print(f"{passing_math} passing math/ {passing_reading} passing reading")
type(passing_math)

0         True
1        False
2        False
3        False
4         True
         ...
39165     True
39166     True
39167     True
39168     True
39169     True
Name: math_score, Length: 39170, dtype: bool passing math/ 0        False
1         True
2         True
3        False
4         True
         ...
39165     True
39166     True
39167     True
39168     True
39169     True
Name: reading_score, Length: 39170, dtype: bool passing reading

pandas.core.series.Series

### Iterates through boolean contained in series
##### Example: passing_math = school_data_complete_df["math_score"] >= 70
##### Not the way you should do this when you need to pull unique identifiers later

In [50]:
#finds total number of students that passed math but not by Student ID
# iterates through series containg boolean results
total_math_passed = 0
for grade in passing_math:
    if grade == True:
        total_math_passed = total_math_passed + 1

#finds total number of students that passed reading but not by Student 
total_reading_passed = 0
for grade in passing_reading:
    if grade == True:
        total_reading_passed = total_reading_passed + 1

print(f"{total_reading_passed} student pased reading\n{total_math_passed} students passed math")

33610 student pased reading
29370 students passed math

### Does the same as the above but leaves the SERIES and DATAFRAME intact
##### Doesnt require using iterator to add to a variable

In [38]:
#Does not work unless you get the column only
# Get all the students who are passing math in a new DataFrame.
passing_math_df = school_data_complete_df[school_data_complete_df["math_score"] >= 70]
passing_math_df["Student ID"].count()

29370

In [39]:
# Get all the students who are passing math in a new DataFrame.
passing_reading_df = school_data_complete_df[school_data_complete_df["reading_score"] >= 70]
passing_reading_df["Student ID"].count()

33610

In [ ]:
passing_reading_count = passing_reading_df["Student ID"].count()
passing_math_count = passing_math_df["Student ID"].count()
print(f'({}))

In [68]:
overall_passing_math_reading_count = passing_math_reading_df["Student ID"].count()
overall_passing_math_reading_count

25528

In [59]:
#total number of students in all schools
total_students = school_data_complete_df["Student ID"].count()
total_students

39170

In [52]:
passing_math_reading_df = pd.merge(passing_math_df,passing_reading_df,on=["Student ID","Student ID"])
len(passing_math_reading_df["Student ID"].unique())

25528

In [53]:
passing_math_reading_df = pd.merge(passing_math_df,passing_reading_df,on=["Student ID","Student ID"])
passing_math_reading_df["Student ID"].count()

25528

In [73]:
passing_m_r_percent = 0
passing_m_r_percent = ((passing_math_reading_df["Student ID"].count() / school_data_complete_df["Student ID"].count())*100)
overall_passing_percentage = passing_m_r_percent
passing_m_r_percent

65.17232575950983

#### Must do passing math and passing reading percentages... but above is correct

In [57]:
#total percentage of students that passed math
passing_math_percentage = (total_math_passed/school_data_complete_df["Student ID"].count())*100
passing_math_percentage

74.9808526933878

In [69]:
#total percentage of students that passed reading
passing_reading_percentage = (total_reading_passed/school_data_complete_df["Student ID"].count())*100
passing_reading_percentage

85.80546336482001

## Variables for use later

### dataframes
###### passing_math_reading_df
###### passing_math_df
###### passing_reading_df

### percentages
###### passing_m_r_percent                       #GW Version- overall_passing_percentage
###### passing_reading_percentage 
###### passing_math_percentage              

### averages
###### avg_reading_score
###### avg_math_score

### totals
###### total_students
###### total_budget
###### school_count
###### total_reading_passed
###### total_math_passed
###### overall_passing_math_reading_count

###### school_list

In [67]:
overall_passing_math_reading_count = passing_math_reading_df["Student ID"].count()
overall_passing_math_reading_count

25528

In [71]:
#GW Way
#overall_passing_percentage = (overall_passing_math_reading_count/total_students)*100

In [74]:
overall_passing_percentage

65.17232575950983

### Create new dataframe for your analaysis

In [76]:
district_summary_df = pd.DataFrame(
          [{"Total Schools": school_count,
          "Total Students": total_students,
          "Total Budget": total_budget,
          "Average Math Score": avg_math_score,
          "Average Reading Score": avg_reading_score,
          "% Passing Math": passing_math_percentage,
         "% Passing Reading": passing_reading_percentage,
        "% Overall Passing": overall_passing_percentage}])
district_summary_df.head()

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

# Calling a function

In [79]:

#### Function doesnt give feedback or request input until it is called...best way to do branching

# Define the function "say_hello" so it prints "Hello!" when called.
def say_hello():
    print("Hello!")

In [80]:
# Call the function.
say_hello()

Hello!

In [85]:
def district_summary():
    district_summary_df = pd.DataFrame(
          [{"Total Schools": school_count,
          "Total Students": total_students,
          "Total Budget": total_budget,
          "Average Math Score": avg_math_score,
          "Average Reading Score": avg_reading_score,
          "% Passing Math": passing_math_percentage,
         "% Passing Reading": passing_reading_percentage,
        "% Overall Passing": overall_passing_percentage}])
    district_summary_df.head()
    print(district_summary_df)

In [86]:
district_summary()

   Total Schools  Total Students  Total Budget  Average Math Score  \
0             15           39170      24649428           78.985371

   Average Reading Score  % Passing Math  % Passing Reading  % Overall Passing
0               81.87784       74.980853          85.805463          65.172326

In [87]:
def say_something(something):
    print(something)

In [91]:
say_something(district_summary_df)

   Total Schools  Total Students  Total Budget  Average Math Score  \
0             15           39170      24649428           78.985371

   Average Reading Score  % Passing Math  % Passing Reading  % Overall Passing
0               81.87784       74.980853          85.805463          65.172326

In [92]:
say_something("me too")

me too

In [93]:
#call 
Jane_says = "Hi, my name is Jane. I'm learning Python!"
say_something(Jane_says)

Hi, my name is Jane. I'm learning Python!

In [98]:
#for school in school_list:
if school == input("enter school name"):
    print(school_data_complete_df.loc[{input},"budget"])

NameError: name 'school' is not defined

In [109]:
for school in school_list:
    if school == input("enter school name "):
        print(f'("school_data_complete_df.loc[{school},"budget"]"))

SyntaxError: EOL while scanning string literal (<ipython-input-109-2c38eae666a0>, line 3)

In [ ]:
school_data_complete_df.loc["Huang High School","budget"]

In [112]:
school_data_complete_df.head(2)

,Unnamed: 0,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,reading_grade,math_grade
0,0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,D,C
1,1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,A,D

In [114]:
passing_math_count = 29370
total_student_count = 39170

In [121]:
# Define a function that calculates the percentage of students that passed both # math and reading and prints the passing percentage to the output when the
# function is called.
def passing_math_percent(pass_math_count, student_count):
    return pass_math_count / float(student_count) * 100

In [122]:
# Call the function.
passing_math_percent(passing_math_count, total_student_count)

74.9808526933878

In [119]:
# Define a function that calculates the percentage of students that passed both # math and reading and prints the passing percentage to the output when the
# function is called.
def passing_math_percent(a, b):
    return a / float(b) * 90

### formatting data with .map

In [123]:
#df["column"] = df["column"].map("{:,}".format)

In [124]:
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)

district_summary_df["Total Students"]

0    39,170
Name: Total Students, dtype: object

In [125]:
# Format "Total Budget" to have the comma for a thousands separator, a decimal separator, and a "$".

district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)

district_summary_df["Total Budget"]

0    $24,649,428.00
Name: Total Budget, dtype: object

In [126]:
# Format the columns.
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.1f}".format)

district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.1f}".format)

district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.0f}".format)

district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.0f}".format)

district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:.0f}".format)

In [127]:
district_summary_df.head()

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",79.0,81.9,75,86,65

### Reorder Series/Columns

In [ ]:
# Reorder the columns in the order you want them to appear.
#new_column_order = ["column2", "column4", "column1"]