In [123]:
import pandas as pd
import numpy as np
import os
from pandas import DataFrame

#load files
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/clean_students_complete.csv"
#alternate Method using os.path.join
#school_data_to_load = os.path.join("Resources", "schools_complete.csv")
#student_data_to_load = os.path.join("Resources", "clean_students_complete.csv")

school_data_df = pd.read_csv(school_data_to_load)
student_data_df = pd.read_csv(student_data_to_load)

In [124]:
# Combine the data into a single dataset.
school_data_complete_df = pd.merge(student_data_df, school_data_df, on=["school_name", "school_name"])
school_data_complete_df.head(2)

,Unnamed: 0,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635

In [4]:
school_data_df.head(2)

   School ID           school_name      type  size   budget
0          0     Huang High School  District  2917  1910635
1          1  Figueroa High School  District  2949  1884411

In [61]:
student_data_df.head(2)

,Unnamed: 0,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,1,Victor Smith,M,12th,Huang High School,94,61

In [125]:
school_data_complete_df["Student ID"].count()

39170

In [7]:
school_data_complete_df.shape

(39170, 12)

In [8]:
school_data_complete_df["Student ID"].count()

39170

In [9]:
school_data_complete_df["school_name"].unique()

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [36]:
# Unique high school names
set(school_data_complete_df["school_name"])

### Find the number of unique entries in a dataframe column

In [11]:
# num of unique school names...great for when unique or count doesnt work
len(set(school_data_complete_df["school_name"]))

15

In [126]:
# GW way...Calculate the total number of schools.
school_count = school_data_df["school_name"].count()
school_count

15

In [14]:
len(school_data_complete_df["school_name"].unique())

15

In [127]:
# Calculate the total number of schools
school_count_2 = school_data_complete_df["school_name"].unique()
school_count_2

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [128]:
school_list = school_data_complete_df["school_name"].unique().tolist()

In [129]:
school_list

['Huang High School',
 'Figueroa High School',
 'Shelton High School',
 'Hernandez High School',
 'Griffin High School',
 'Wilson High School',
 'Cabrera High School',
 'Bailey High School',
 'Holden High School',
 'Pena High School',
 'Wright High School',
 'Rodriguez High School',
 'Johnson High School',
 'Ford High School',
 'Thomas High School']

In [65]:
#incorrect because it didnt only grab unique schools it totalled for every entry
#always remember after the merge data with not be displayed properly for some items
#it can be better to use the original table for some things
total_budget_wrong = school_data_complete_df["budget"].sum()
total_budget_wrong

82932329558

In [130]:
#instead use school_data_df to avoid summing repeated data
total_budget = school_data_df["budget"].sum()
total_budget

24649428

In [58]:
#Not working
#budget = 0
#school_name = []

#for name in school_list:
 #   school_name = school_data_complete_df["school_name"]
  #  if school_name != school_name:
   #     budget = budget + school_data_complete_df["budget"]
    

#print(budget)

In [131]:
avg_reading_score = student_data_df["reading_score"].mean()
avg_math_score = student_data_df["math_score"].mean()

print(f"avg reading for all schools {avg_reading_score}\navg math for all schools {avg_math_score}")

avg reading for all schools 81.87784018381414
avg math for all schools 78.98537145774827

In [132]:
grades = ("F","D","C","B","A")
bins = (0,59,69,79,89,100)

school_data_complete_df["reading_grade"] = pd.cut(student_data_df["reading_score"], bins, labels=grades)
school_data_complete_df["math_grade"] = pd.cut(student_data_df["math_score"], bins, labels=grades)
school_data_complete_df.head()

,Unnamed: 0,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,reading_grade,math_grade
0,0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,D,C
1,1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,A,D
2,2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,A,D
3,3,3,Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635,D,F
4,4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,A,B

In [133]:
school_data_complete_df.head()

,Unnamed: 0,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,reading_grade,math_grade
0,0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,D,C
1,1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,A,D
2,2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,A,D
3,3,3,Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635,D,F
4,4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,A,B

In [134]:
passed_math_reading = []

for id in school_data_complete_df["Student ID"]:
    if student_data_df["reading_score"] > 70 and student_data_df["math_score"] > 70:
        passed_math_reading.append(school_data_complete_df["Student ID"])

print(passed_math_reading)

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [136]:
passing_math = school_data_complete_df["math_score"] >= 70
passing_reading = school_data_complete_df["reading_score"] >= 70
print(f"{passing_math} passing math/ {passing_reading} passing reading")

0         True
1        False
2        False
3        False
4         True
         ...
39165     True
39166     True
39167     True
39168     True
39169     True
Name: math_score, Length: 39170, dtype: bool passing math/ 0        False
1         True
2         True
3        False
4         True
         ...
39165     True
39166     True
39167     True
39168     True
39169     True
Name: reading_score, Length: 39170, dtype: bool passing reading

In [137]:
passing_math_count = passing_math["Student ID"].count()
passing_math_count

KeyError: 'Student ID'

In [118]:
passing_reading_count = passing_reading["Student ID"].count()
passing_reading_count

KeyError: 'Student ID'

In [140]:
#Does not work unless you get the column only
# Get all the students who are passing math in a new DataFrame.
passing_math_df = school_data_complete_df[school_data_complete_df["math_score"] >= 70]
passing_math_df["Student ID"].count()

29370

In [141]:
# Get all the students who are passing math in a new DataFrame.
passing_reading_df = school_data_complete_df[school_data_complete_df["reading_score"] >= 70]
passing_reading_df["Student ID"].count()

33610

In [111]:
passing_math_reading_df = pd.merge(passing_math_df,passing_reading_df,on=["Student ID","Student ID"])
len(passing_math_reading_df["Student ID"].unique())

25528

In [142]:
passing_math_reading_df = pd.merge(passing_math_df,passing_reading_df,on=["Student ID","Student ID"])
passing_math_reading_df["Student ID"].count()

25528

In [157]:
passing_m_r_percent = 0
passing_m_r_percent = ((passing_math_reading_df["Student ID"].count() / school_data_complete_df["Student ID"].count())*100)
passing_m_r_percent

65.17232575950983

# Must do passing math and passing reading percentages... but above is correct